/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}